<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gant</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/Gant/Gant">View On GitHub</a></li>
          <li><a href="/"><img src="images/logo_96x47.png"/></a></li>
          <li class="downloads"><a href="https://github.com/Gant/Gant/zipball/master">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/Gant/Gant/tarball/master">TAR</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->
      <div id="navigation">
        {% include navigation.html %}
      </div>
      <div class="wrapper">
        <section>
          <div id='content'>
            {{ content }}
          </div>
        </section>
        <section>
          <div id='footer'>
            Copyright &copy; 2014&ndash;2017 Russel Winder.
          </div>
        </section>
      </div>
  </body>
</html>
